.venv/
.env
__pycache__/
*.pyc
# Ignore all .json files
*.json

# Exception: Do not ignore package.json
!frontend/package.json
!frontend/package-lock.json

data/videos/*
data/frames/*
data/audio/*

outputs/*
.DS_Store

